.login-page {
    width: 250px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 250px;
    margin: 0 auto 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 80%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 8px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#689CD2;
    width: 80%;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    font-size: 8px;
    cursor: pointer;
}
.form .message {
    margin: 10px 0 0;
    color: #b3b3b3;
    font-size: 8px;
}
.form .message a {
    color: #689CD2;
    text-decoration: none;
}
body {
    background: #689CD2; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #689CD2, #3869c1);
    background: -moz-linear-gradient(right, #689CD2, #3869c1);
    background: -o-linear-gradient(right, #689CD2, #3869c1);
    background: linear-gradient(to left, #689CD2, #3869c1);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}