body {
    background: #689CD2; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #689CD2, #3869c1);
    background: -moz-linear-gradient(right, #689CD2, #3869c1);
    background: -o-linear-gradient(right, #689CD2, #3869c1);
    background: linear-gradient(to left, #689CD2, #3869c1);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    color: #ffffff;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background:#689CD2;
    color: #fff;
    font-family: Helvetica;
}

.header_section{
    display: flex;
    align-items: center;
}
.header_item{
    padding: 5px 5px;
    font-size: 10px;
    margin-left: 5px;
}
.header_item:hover{
    background-color: #ff9900;
    border-radius: 4px;
}

.header_logo{
    font-weight: bold;
}

.header_button{
    cursor: pointer;
}




.divAdmin{
    width:90%;
    padding:5pt;
    margin:auto;
}

.DIV_BASKET {
    width:240px;
    height:350px;
    background: #cc99fe;
    float:left;
    margin:  10px 2px 10px 10px;
    padding: 10px;
}
.img_BASKET{
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 10px;
    width:210px;
    height:210px;
}
.LABLE_BASKET{
    top: 15px;
    display: block;
    text-align:left;
    padding: 3px;
    font-size: 60%;
    margin: 0 auto;
    position: relative;
}


.div_delete_clothes{
    float: right; /* блок занимает ширину содержимого, max-width её ограничивает */
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 8px;
    font-family: Roboto;
    padding: 4px 4px;
    border-radius: 100px;
    color: #fff;
    margin-right: 4px;
    margin-left: 6px;
    background: #2196F3;
}

.price {
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#cc99fe;
    width: 80%;
    border: 0;
    padding: 10px 75px;
    color: #FFFFFF;
    font-size: 8px;
    cursor: pointer;
    display: inline-block;

}