a{
    color: #ffffff;
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background:#689CD2;
    color: #fff;
    font-family: Helvetica;
}

.header_section{
    display: flex;
    align-items: center;
}
.header_item{
    padding: 5px 5px;
    font-size: 10px;
    margin-left: 5px;
}
.header_item:hover{
    background-color: #ff9900;
    border-radius: 4px;
}

.header_logo{
    font-weight: bold;
}

.header_button{
    cursor: pointer;
}





.divBlock{
    width:90%;
    padding:5pt;
    margin:auto;
}
.line_blockk {
    width:100px;
    height:100px;
    background:#689CD2;
    float:left;
    margin:  15px 15px 15px 10px;
    padding: 10px;
}

.lable_div{
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
