<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="src/index.js"></script>
</head>
<body>
<form action="/api/post" method="post"  id="form" enctype="multipart/form-data">
    <label>img</label>
    <input type="file" id="img" name="filedata"/><br>
    <input  type="text" name="title" /><br>
    <input  type="text" name="razmer" /><br>
    <input  type="text" name="content" /><br>
    <input   type="text" name="price" /><br>
    <input type="submit"  id="submit" value="создать пользователя"/>
</form>
</body>
</html>