<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="header_section">
        <div class="header_logo header_item"  onclick="">
            <a href="/">CУНДУЧОК</a>
        </div>
    </div>

    <div class="header_section">
        <div class="header_item header_button">
            <a href="/basket">корзина</a>
        </div>
        <div class="header_item header_button">
            <a href="/auth">войти</a>
        </div>
    </div>
</div>


</body>
</html>