<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="header_section">
        <div class="header_logo header_item"  onclick="">
            <a href="/">CУНДУЧОК</a>
        </div>
    </div>

    <div class="header_section">
        <div class="header_item header_button">
            <a href="/basket">корзина</a>
        </div>
        <div class="header_item header_button">
            <a href="/auth">войти</a>
        </div>
    </div>
</div>



<!--<form action="/api/post" method="post"  id="form" enctype="multipart/form-data">-->
<!--    <label>img</label>-->
<!--    <input type="file" id="img" name="filedata"/><br>-->
<!--    <input  type="text" name="title"  placeholder="введите название"/><br>-->
<!--    <input  type="text" name="razmer"  placeholder="введите размер"/><br>-->
<!--    <input  type="text" name="gender"  placeholder="введите пол"/><br>-->
<!--    <input  type="text" name="content"  placeholder="введите описание"/><br>-->
<!--    <input   type="text" name="price"  placeholder="введите цену"/><br>-->
<!--    <input   type="text" name="user_id"  placeholder="введите id "/><br>-->
<!--    <input type="submit"  id="submit" value="создать пост"/>-->
<!--</form>-->



</body>
</html>