<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="src/index.js"></script>
</head>

<div class="header">
    <div class="header_section">
        <div class="header_logo header_item"  onclick="">
            СУНДУЧОК
        </div>
        <div class="header_item header_button">
            Мальчики
        </div>
        <div class="header_item header_button">
            Девочки
        </div>
    </div>


    <div class="header_section">
        <div class="header_item header_button">
            <a href="/basket">корзина</a>
        </div>
        <div class="header_item header_button">
            <a href="/auth">войти</a>
        </div>
    </div>
</div>


<div class="divBlock">
    <div class="line_blockk">DIV 1</div>
    <div class="line_blockk">DIV 2</div>
    <div class="line_blockk">DIV 3</div>
    <div class="line_blockk">DIV 4</div>
    <div class="line_blockk">DIV 5</div>
    <div class="line_blockk">DIV 6</div>


    <div id="id" class="line_blockk"></div>
    <div id="title" class="line_blockk"></div>
    <div id="content" class="line_blockk"></div>

    <input type="text" id="name">
    <input type="text" id="surname">
    <button id="button" onclick="createUser()">создать пользователя</button>



</div>









</body>
</html>