<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/registration.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="src/registration.js"></script>

</head>
<body>
<div class="header">
    <div class="header_section">
        <div class="header_logo header_item"  onclick="">
            <a href="/">CУНДУЧОК</a>
        </div>
    </div>
    <div class="header_section">
        <div class="header_item header_button">
            <a href="/auth">войти</a>
        </div>
    </div>
</div>

<div class="login-page">
    <div class="form">
        <div class="login-form">
            <p class="message">РЕГИСТРАЦИЯ</p>
            <input class="registr" id="name" type="text" placeholder="введите имя"/>
            <input class="registr" id="surname" type="text" placeholder="введите фамилию"/>
            <input class="registr" id="email" type="text" placeholder="введите email"/>
            <input class="registr" id="number"  type="text" placeholder="введите телефон"/>
            <button onclick="CheckingTheUsersAccount()">создать</button>

        </div>
    </div>
</div>


</body>
</html>