<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/registration.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="src/registration.js"></script>

</head>
<body>
<div class="header">
    <div class="header_section">
        <div class="header_logo header_item"  onclick="">
            <a href="/">CУНДУЧОК</a>
        </div>
    </div>
    <div class="header_section">
        <div class="header_item header_button">
            <a href="/auth">войти</a>
        </div>
    </div>
</div>


<div class="login-page">
    <div class="form">
        <form id="form" method="post" action="/api/user" class="login-form">
            <p class="message">РЕГИСТРАЦИЯ</p>
            <input id="name" class="registr" name="name" type="text" placeholder="введите имя"/>
            <input id="surname" class="registr" name="surname" type="text" placeholder="введите фамилию"/>
            <input id="email" class="registr" name="email" type="text" placeholder="введите email"/>
            <input id="password" class="registr" name="password" type="text" placeholder="введите пароль"/>
            <input id="number" class="registr" name="number"  type="text" placeholder="введите телефон"/>
            <button type="submit" >создать</button>
        </form>
    </div>
</div>
</body>
</html>