<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="src/admin.js"></script>
    <link rel="stylesheet" href="css/admin.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="header">
    <div class="header_section">
        <div class="header_logo header_item" onclick="">
            <a href="/">CУНДУЧОК</a>
        </div>
        <div  id="AllPerson"  class="header_item header_button">
            все пользователи
        </div>
        <div id="AllPost"   class="header_item header_button">
            все посты
        </div>
    </div>


    <div class="header_section">
        <div id="CreateUser"  class="header_item header_button">
            создать пользователя
        </div>
        <div  id="CreatePost" class="header_item header_button">
            создать пост
        </div>
        <div class="header_item header_button">
            <a href="/basket">корзина</a>
        </div>
    </div>
</div>

<div id="divAdmin" class="divAdmin"></div>

</body>
</html>